# dependencies
node_modules/
node_modules.bak*/
node_modules_broken_*/
.npm-cache/
.npm-cache-temp/
.npm-cache_broken_*/
supabase/.temp/
supabase/.npm-cache/

# build
dist/
.astro/

# env
.env
.env.production

# logs
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel/
.vercel
